.AdminUsersScreen {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.AdminUsersScreen .users-heading {
  border-bottom: 2px solid var(--dark);
  margin-bottom: 1rem;
}

.AdminUsersScreen .users-content {
  width: 100%;
  height: calc(80vh - 20%);
  background: var(--light-accent);
  border-radius: .6rem;
  padding: 1rem;
  overflow-y: auto;
}

.AdminUsersScreen .users-content .user {
  margin: 1rem auto;
}

.AdminUsersScreen .users-content .user .user-heading {
  background: var(--accent);
  padding: .5rem;
  margin-bottom: .5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.AdminUsersScreen .users-content .user-heading .user-name {
  color: var(--light);
}

.AdminUsersScreen .users-content .user-heading svg {
  margin-inline: .5rem;
}

.AdminUsersScreen .users-content .user-details h4 {
  border-bottom: 1px solid var(--dark);
  width: 50%;
  margin-block: .3rem;
}

.AdminUsersScreen svg {
  cursor: pointer;
}

.AdminUsersScreen .password {
  width: calc(100% - 1rem);
  margin-block: .5rem;
}

.AdminUsersScreen .pw-conditions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: .2rem;
}

.AdminUsersScreen .pw-conditions div {
  width: 50%;
  text-align: left;
}

.AdminUsersScreen .pw-conditions p {
  width: max-content;
  margin-block: .3rem;
  border-bottom: 1px solid var(--dark);
}

/* Mobile */
@media (max-width: 600px) {
  .AdminUsersScreen {
    flex-direction: column-reverse;
    gap: 2rem;

    margin-bottom: 80px;
  }

  .AdminUsersScreen .display-container {
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }

  .AdminUsersScreen .users-heading .heading {
    font-size: 2rem;
    text-align: left;
  }

  .AdminUsersScreen .users-content .user-heading .user-name {
    font-size: 1rem;
  }

  .AdminUsersScreen .users-content .user-heading .user-icons svg {
    height: 20px;
  }

  .AdminUsersScreen .users-content .user-details h4,
  .AdminUsersScreen .users-content .user-details p {
    width: 100%;
    text-align: left;
  }

  .AdminUsersScreen .card,
  .AdminUsersScreen .card .card-body {
    height: max-content;
    max-height: max-content;
  }

  .AdminUsersScreen .card .card-body .card-container .form-group .pw-title h3 {
    text-align: left;
  }

  .AdminUsersScreen .pw-conditions {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .AdminUsersScreen .pw-conditions p {
    margin-block: 0;
    margin-bottom: .3rem;
  }
}