.AdminCoursesScreen {
  height: 100%;
  width: 100%;
}

.AdminCoursesScreen .courses-content {
  height: 80lvh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.AdminCoursesScreen .courses-content .courses-title {
  border-bottom: 4px solid var(--main-red);
}

.AdminCoursesScreen .courses-content .courses-accordian {
  height: 100%;
  width: 100%;
  border-radius: .6rem;
  padding: 2rem;
  background: var(--light-accent);
  overflow-y: auto;
}

.AdminCoursesScreen .courses-accordian .accordian-item {
  padding: .5rem;
}

.AdminCoursesScreen .courses-accordian .accordian-title {
  border-bottom: 2px solid var(--accent);
  padding: .5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: .3s ease;
}

.AdminCoursesScreen .courses-accordian .accordian-title h1 {
  color: var(--accent)
}

.AdminCoursesScreen .courses-accordian .accordian-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 12%;
}

.AdminCoursesScreen .courses-accordian svg {
  cursor: pointer;
}

.AdminCoursesScreen .courses-accordian .accordian-content {
  padding: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.AdminCoursesScreen .courses-accordian .accordian-content .content {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.AdminCoursesScreen .accordian-content .add-video {
  background: var(--light);
  padding: .2rem .5rem;
  border-radius: .4rem;
  margin-top: 1rem;
  cursor: pointer;
  transition: .2s ease;
}

.AdminCoursesScreen .accordian-content .add-video:hover {
  transform: scale(1.02);
  box-shadow: 0 0 5px var(--dark);
  background: var(--accent);
}

.AdminCoursesScreen .accordian-content .add-video:hover > * {
  color: var(--light);
}

.AdminCoursesScreen .accordian-content .add-video > * {
  color: var(--accent);
  transition: .2s ease;
}

/* Mobile */
@media (max-width: 600px) {
  .AdminCoursesScreen {
    margin-bottom: 80px;
  }

  .AdminCoursesScreen .flex-between {
    flex-direction: column-reverse;
    gap: 2rem;
  }

  .AdminCoursesScreen .card,
  .AdminCoursesScreen .card .card-body {
    height: max-content;
    max-height: 100vh;
  }

  .AdminCoursesScreen .card .btn-group {
    flex-direction: column;
  }

  .AdminCoursesScreen .courses-content {
    height: max-content;
    width: 100%;
  }

  .AdminCoursesScreen .courses-content .courses-title {
    width: 100%;
  }

  .AdminCoursesScreen .courses-content .courses-title .heading {
    font-size: 2rem;
    text-align: left;
  }

  .AdminCoursesScreen .courses-content .courses-accordian {
    height: max-content;
    padding: 1rem;
  }

  .AdminCoursesScreen .courses-accordian .accordian-item {
    width: 100%;
    padding: .5rem;
  }

  .AdminCoursesScreen .courses-accordian .accordian-title h1 {
    font-size: 1.5rem;
  }

  .AdminCoursesScreen .courses-accordian .accordian-icons {
    gap: 1rem;
    width: max-content;
  }

  .AdminCoursesScreen .courses-accordian .accordian-content {
    gap: .5rem;
  }

  .AdminCoursesScreen .courses-accordian .accordian-content .content {
    width: 100%;
  }

  .AdminCoursesScreen .courses-accordian .accordian-content .content h2 {
    font-size: 1rem;
  }

  .AdminCoursesScreen .accordian-content svg,
  .AdminCoursesScreen .accordian-content .add-video svg {
    height: 15px;
    width: 15px;
  }
}