.PasswordField {
  position: relative;
  width: 100%;
}

.PasswordField svg {
  position: absolute;
  width: max-content;
  top: 50%;
  transform: translateY(-50%);
  right: 5%;
  color: var(--light);
  cursor: pointer;
}