body {
  background: var(--white);
  color: var(--black);
  scroll-behavior: smooth;
  scroll-margin-top: 100px;
}

.color-red {
  color: var(--red);
}

.background-red {
  background: var(--red);
}

.color-black {
  color: var(--black);
}

.background-black {
  background: var(--black);
}

.btn-primary {
  background: var(--red);
  color: var(--white);
  display: inline-block;
  padding: 1rem 3rem;
  border-radius: .6rem;
  transition: .2s ease;
}

.btn-primary:hover {
  background-color: #880808;
}

a {
  color: var(--black);
  font-weight: 600;
  text-transform: uppercase;
}