.CustomForm {
	width: min(90vw, 40vw);
	height: 50vh;

	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;

	border: 1px solid var(--gold);
	border-radius: .6rem;
	box-shadow: 0 0 10px var(--gold);

	position: absolute;
	inset: 0;
	margin: auto;
	text-align: center;
}

.CustomForm .heading-container {
	text-align: center;
	width: 50%;
}

.CustomForm form {
	width: 80%;
}

.CustomForm .form-container {
	height: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	margin: 2rem 0;
}

.CustomForm .form-container > * {
	margin: .3rem 0;
}