.Header {
	width: 100%;
	height: 100px;
}

.Header .container {
	width: min(80vw, 95vw);
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.Header .brand img {
	height: 90px;
}

.Header .account-container a {
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: capitalize;
	position: relative;
}

.Header .account-container a::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0%;
	height: 2px;
	background-color: var(--black);
	transition: .1s ease;
}

.Header .account-container a:hover::before {
	width: 100%;
}

.Header .account-container a p {
	margin-right: 1rem;
}

.Header .account {
	display: flex;
	justify-content: center;
	align-items: center;
}

.Header .account > p {
	margin-right: 2rem;
	cursor: pointer;
}

.Header .open-sidebar-nav {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.Header .open-sidebar-nav > p {
	margin-right: .5rem;
}

.Header .account-details {
	position: fixed;
	top: 100px;
	bottom: 100px;
	right: -280px;
	height: calc(100% - 100px);
	width: 250px;
	background-color: var(--red);
	box-shadow: 0 10px 10px var(--black);
	transition: .3s ease;
}

.Header .close {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.Header .close svg {
	cursor: pointer;
	margin: .5rem .5rem 0 0;
}

.Header .welcome {
	padding-inline: 1rem;
}

.Header .details {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: column;
	position: relative;
	padding-block: 1rem;
}

.Header .details > * {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: column;
	margin: 0;
	padding-inline: 1rem;
}

.Header  .details-course-completion-list li {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.Header .change-details {
	position: relative;
	width: 90%;
	bottom: 80px;
	border-top: 1px solid var(--gold);
	padding-top: 1rem;
	left: 50%;
	transform: translate(-50%);
}

.Header .detailsBtn {
	cursor: pointer;
	font-size: .8rem;
	font-weight: 400;
	white-space: nowrap;
	padding-bottom: .25rem;
}

.Header .change-details .form {
	width: 220px;
	border-radius: .6rem;
	box-shadow: 0 0 8px var(--black);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: .5rem;
	background-color: var(--gold);
	position: absolute;
	bottom: 70px;
	margin: auto;
	left: 270px;
	transition: .3s ease;
}

.Header .form-input {
	margin-block: .3rem;
}

.Header .form-input input {
	font-size: .8rem;
	width: 100%;
}

.Header .user-info {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;;
	flex-direction: column;
}