.Header {
	width: 100%;
	height: 100px;
}

.Header .container {
	width: min(80vw, 95vw);
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.Header .brand img {
	height: 90px;
}