.HomePage {
	padding-inline: 2rem;
}

.HomePage .page-heading {
	margin-block: 2rem;
	text-align: center;
}

.HomePage .page-heading h1 {
	color: var(--gold);
}

.HomePage .main-img {
	border-top: 3px solid var(--gold);
	border-bottom: 3px solid var(--gold);
	padding-block: 1rem;
}

.HomePage .platform-description {
	padding: 3rem;
}

.HomePage .platform-description .pg h2,
.HomePage .platform-description .pg h3 {
	margin-block: 1rem;
}

.HomePage .platform-description .pg p {
	margin: 1rem;
}