/* Utility classes */
.page-container {
  width: min(90vw, 1400px);
  margin-top: 50px;
}

.navlink {
  color: var(--dark);
  font-weight: 600;
  transition: .3s ease;
  position: relative;
  margin-inline: 1rem;
}

.navlink:hover,
.navlink.active {
  color: var(--heading-color);
}

.navlink:before {
  content: '';
  position: absolute;
  height: 2px;
  width: 0%;
  bottom: 0;
  left: 0;
  background: var(--heading-color);
  transition: .3s ease;
}

.navlink:hover::before,
.navlink.active::before {
  width: 100%;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-start-start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flex-center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-center-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flex-between {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-between-start {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.heading {
  color: var(--heading-color);
  font-size: 5rem;
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
}

.heading span {
  color: var(--dark);
  text-transform: capitalize;
}

.heading-desc {
  font-size: 2rem;
  color: var(--dark);
}

.heading2 {
  color: var(--heading-color);
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2.5rem;
}

.subheading {
  color: var(--main-red);
  text-transform: uppercase;
  font-weight: 900;
}

.text-center {
  text-align: center;
}

.desc {
  color: var(--dark);
  font-size: 1.5rem;
}

.desc span {
  font-weight: 900;
}

.display-container {
  height: 80vh;
  width: 45%;
}

.card {
  height: 80vh;
  width: 45%;
  box-shadow: 0 0 10px var(--heading-color);
  border-radius: .6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}

.card > * {
  width: 100%;
}

.card .card-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

.card .profile-pic {
  height: 100px;
  width: 100px;
  background: var(--accent);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .3rem;
  box-shadow: 0 0 8px var(--dark);
  margin-right: 2rem;
}

.card-header .profile-pic p {
  color: var(--light);
  font-size: 2.5rem;
  font-weight: 500;
  text-shadow: 0 0 15px var(--dark);
}

.card-header .header-title {
  width: calc(100% - 132px);
}

.card-header .header-title h4 {
  font-size: 2.5rem;
  font-weight: 900;
  font-style: italic;
  border-bottom: 2px solid var(--dark);
  padding-bottom: 5px;
  width: 100%;
}

.card-header .header-title h4 span {
  font-weight: 400;
  color: var(--dark);
}

.card .card-body {
  height: calc(100% - 25%);
  background: var(--light-accent);
  border-radius: .6rem;
  padding: 2rem;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

.card-body * {
  width: 100%;
}

.card-body .card-container {
  height: 100%;
  overflow-y: auto;
}

.card-body .card-container .form-group {
  margin-block: 1rem;
}

.card-body .card-form {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

.card-body .card-form input,
.card-body .card-form select {
  font-size: 2rem;
  height: 50px;
  width: 98%;
  padding-inline: 1rem;
  margin-block: .2rem;
  background: var(--accent);
  color: var(--light);
  border-radius: .3rem;
}

.card-body .card-form input:focus-visible,
.card-body .card-form select:focus-visible {
  outline: none;
}

.card-body .card-form input::placeholder {
  color: var(--light);
}

.card-body .form-group .title {
  text-transform: uppercase;
  font-weight: 700;
  border-bottom: 1px solid var(--dark);
  padding-bottom: .5rem;
  margin-bottom: .5rem;
}

.card-body .form-group .content p {
  font-size: 1.5rem;
  text-transform: capitalize;
  color: var(--dark);
  font-weight: 500;
}

.card .card-footer {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card .card-header,
.card .card-footer {
  height: 100px;
}

.card-footer .footer-group {
  width: 100%;
}

.card-footer .footer-group .footer-title {
  color: var(--accent);
  text-transform: uppercase;
  padding-bottom: 5px;
  border-bottom: 2px solid var(--dark);
  width: 80%;
}

.card-footer .footer-group .footer-desc {
  font-size: 1rem;
  font-weight: 900;
  margin-top: .5rem;
}

.btn-primary {
  display: inline-block;
  width: 100%;
  height: 50px;
  background: var(--accent);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .6rem;
  border: 2px solid var(--accent);
  color: var(--light);
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 1px;
  cursor: pointer;
  transition: .3s ease;
  margin: .5rem;
}

.btn-primary:hover {
  background: transparent;
  color: var(--accent);
}

.btn-secondary {
  display: inline-block;
  width: 100%;
  height: 50px;
  border: 2px solid var(--accent);
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .6rem;
  color: var(--accent);
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 1px;
  cursor: pointer;
  transition: .3s ease;
  margin: .5rem;
}

.btn-secondary:hover {
  background: var(--accent);
  color: var(--light);
}

.btn-group {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}